
*,
*:after,
*:before {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

li,
label,
p {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h3 {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 6rem;
}

h3 {
    font-size: 3rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 20vh;
    width: 100%;
    text-align: center;
    padding: 0rem 6rem;
}
