*,
*:after,
*:before {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

li,
label,
p,
a {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h3 {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 6rem;
}

h3 {
    font-size: 3rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: #1e1e1e;
    color: #11ccff;
}

header {
    height: 20vh;
    width: 100%;
    text-align: center;
    padding: 0rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    padding-left: 1rem;
    text-decoration: none;
    color: #1ee1e1;
    transition: .5s all linear;
}

nav a:hover {
    text-decoration: underline;
    transition: .5s all linear;
}

section {
    padding: 1rem 6rem;
    display: flex;
    justify-content: space-evenly;
}

section article {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    width: auto;
    background: #1e1e12;
}

.overall {
    display: flex;
    flex-direction: column;
}

aside {
    display: flex;
    padding: 6rem;
}

figure img {
    width: 300px;
    height: auto;
}

footer {
    display: flex;
    padding: 5rem 6rem;
    justify-content: space-between;
    background: #fcfcfc1a
}